@media only screen and (max-width: 992px){

	.mobile_menu
	{
		display: block !important;
	}
	.table_container
	{
		width: 100vw !important;
		overflow-x: scroll;;
	}
	.dtable
	{
		width: 900px !important;
	}

	table
	{
		margin-top: 00px !important;
	}

	.dataTables_paginate
	{
		bottom: 25px !important;
		position: fixed;
		background-color: #8b2323;
		border-radius: 100px;
		padding: 5px;
		margin-left: 10px;
		box-shadow: 0px 1px 5px grey;
		color: white !important;
	}

	.dataTables_paginate .pag_lr
	{
		color: white !important;
	}


	 .dataTables_paginate .paginate_button:hover
	 {
	 	border-radius: 100px;
	 }
}

.dtable
{
	width: 100%;
}
body
{
	margin: 0;
	font-family: "Roboto", sans-serif;
}
.dark-red
{
	background-color: #8b2323 !important;
}
.nav-wrapper
{
	background: #333333;
	background: -webkit-linear-gradient(to bottom, #8B2323, #5E181F) !important;  
	background: linear-gradient(to bottom, #8B2323, #5E181F) !important; 

}
.search-bar
{
	background: #333333;
	background: -webkit-linear-gradient(to bottom, #BB8181, #916468) !important;  
	background: linear-gradient(to bottom, #BB8181, #916468) !important;
	color: white !important; 

}	
.input-field {width: 70%; margin: auto; } .search_container {margin-left: 300px; }
.drop {box-shadow: 0px 2px 5px #b5b5b5; font-family: "Roboto";}
.title{padding-left: 0.9em !important; font-size: 1.4em !important; font-family: "Comfortaa" !important;}
.tab a{color: #797979 !important;}
.tab a.active {background-color: #d9d9d9 !important; color: #de3d3d !important; font-family: "Roboto" !important; } 
	.dataTables_filter {display: none; } .dataTables_paginate {float: left; margin-top: -56px; margin-right: 5px; } .dataTables_paginate .paginate_button {transition: 0.25s; height: 42px; } .dataTables_paginate .paginate_button:hover {background-color: #8B2323 !important; color: #8B2323 !important; background: #8B2323 !important; border: 1px solid #8B2323 !important; transition: 0.25s; } .dataTables_info {float: right !important; margin-top: -52px; margin-right: 120px; } table.dataTable thead th {padding: 10px 18px; border-bottom: 2px solid #8B2323 !important; } table.dataTable table {padding: 10px 18px 6px 18px; border-bottom: : 1px solid #8B2323 !important; } table.dataTable.no-footer {border-bottom: 2px solid #8B2323 !important; } table.dataTable {margin-top: 55px; }


#initial_cont{transition: 0.5s;cursor: pointer;overflow-y: scroll; min-height: 55px; max-height: 120px; width: 100%;border: 2px solid #dedede; border-radius: 5px; padding: 6px;}
.groups_initial{ visibility: hidden;  margin-left: 45%; background-color: #333333; color: white; z-index: 1; position: absolute; text-align: center; display: block; left: 0; transition: 0.15s} 

#initial_cont:hover {background-color: #dedede}
#initial_cont:hover .groups_initial{visibility: visible;  transition: 0.5s; }
#initial_cont:hover .chip {background-color: white !important; opacity: 0.5; transition: 0.5s;}
.user-account{
	width: 200px !important;

}

.dropdown-content a
{
	color: #8B2323 !important;
}
.btn-flat:hover {background-color: #8B2323 !important; color: white !important; }
.pag_lr{color: #333 !important;}
.pag_lr:hover{color: white !important}
.input-width {width: 100%; }
.input-field input[type=text]:focus + label {color: #8b2323 !important; } /* label underline focus color */ .input-field input[type=text]:focus {border-bottom: 1px solid  #8b2323  !important; box-shadow: 0 1px 0 0  #8b2323  !important; } .input-field input[type=password]:focus + label {color: #8b2323 !important; } /* label underline focus color */ .input-field input[type=password]:focus {border-bottom: 1px solid  #8b2323  !important; box-shadow: 0 1px 0 0  #8b2323  !important; } option {color: #8b2323 !important; } .input-field input[type=date]:focus {border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;} .input-field input[type=date]:focus + label {color: #8b2323 !important;} .input-field input[type=date]:focus {border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;} .input-field input[type=date]:focus + label {color: #8b2323 !important;}.input-field input[type=datetime-local]:focus {border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;} .input-field input[type=datetime-local]:focus + label {color: #8b2323 !important;} .input-field input[type=time]:focus + label {color: #8b2323 !important;} .input-field input[type=time]:focus {border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;}
ul.dropdown-content.select-dropdown li span {
	color: #8b2323; 
}

.chips:focus
{
	border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;
}

.rogue_label
{
	margin-top: -20px !important;
}

.rogue_label_modal
{
	margin-top: 10px !important;
}

h4
{
	font-family: "Comfortaa" !important;
	font-size: 1.7em !important;
}

.input-field textarea:focus + label {
	color: #8b2323 !important;
}

.input-field textarea:focus {
	border-bottom: 1px solid #8b2323 !important;
	box-shadow: 0 1px 0 0 #8b2323 !important
}
datepicker-date-box{background-color: #8b2323 !important; } .datepicker-date-display, .datepicker-weekday-display{background-color: #8b2323 !important; } .datepicker-table td.is-today {color: #8b2323 !important; } .datepicker-table td.is-selected {background-color: #8b2323 !important; color: #fff; } .datepicker-clear, .datepicker-today, .datepicker-done {color: #8b2323 !important; } .datepicker-cancel{color: grey !important; } .datepicker-day-button:focus {background-color: #ffd8a0 !important; } .timepicker-digital-display {background-color: #8b2323 !important; } .timepicker-canvas line{stroke: #8b2323 !important; } .timepicker-canvas-bearing{fill: #8b2323 !important; } .timepicker-canvas-bg{fill: #8b2323 !important; } .timepicker-tick.active, .timepicker-tick:hover {background-color: rgba(139, 25, 25, 0.25) !important; } .timepicker-close{color: #8b2323 !important; }

.sidenave {
	padding: 10px;
	height: 100%;
	width: 40%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-top: 20px;
	border-right: 2px solid #dedede;
}


.checbox_box
{
	border: 2px solid #dedede;
	padding: 1em;
	border-radius: 4px;
	width: 100%;
}

.toast
{
	background-color: #eee !important;
	color: #333 !important;
	font-weight: 0 !important;
	font-family: "Comfortaa" !important;
	font-size: 0.8rem;
}

.search-bar2
{
	background: white;
	border-bottom:  2px solid #8b2323 !important;
}

.search-bar2 + label
{
	color: #8b2323 !important;
}

.file_chip
{
	border: 2px solid #dedede !important;
	background-color: white !important;
	border-radius: 100px !important;
}

.tooltipped u
{
	border-bottom: 1px dotted #bebebe;
	text-decoration: none;
}

.truncated {
	width: 120px !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}



#select_registered table
{
	table-layout: auto;
}
.sidenav
{
	background-color: white;
}

.sidenav a
{
	color: #8b2323 !important;

}

.sidenav .logout
{
	color: #ff9696 !important;
}

.sidenav .category
{
	background-color: #8b2323 !important;
	color: white !important;
}

.sidenav .selected
{
	background-color: #ffd0d0;
}

.sidenav .locked
{
	background-color: #a5a5a5;
	color: white !important;
}
.sidenav .options
{
	background-color: #333 !important;
	color: white !important;
	height: 30px !important;
	line-height: 32px !important;
}
.stickeroo
{
	position: sticky !important;
	top: 0 !important;
	background-image: url("../mobilebg.png");
	border-bottom: 1px solid white;
	z-index: 2;
}


	.mobile_menu
	{
					height: 50px; 
	width: 100%;
	background: #333333;
	background: linear-gradient(to bottom, rgba(175,68,68,1), rgba(139,35,35,1));
	padding-left: 8px;
	font-family: 'Comfortaa'; color: white; font-size: 2em;
	line-height: 52px;
	top: 0;
	position: sticky !important;
	margin-left:0;
	z-index: 2;
	}

.sidenav .material-icons
{
	font-size: 18px !important;
	padding: 0px !important
	margin: 0px !important;
	line-height: 30px !important;
	word-spacing: 0px !important;
	letter-spacing: 0px !important;
}
.badges
{
		position: absolute;
		margin-top: -8px;
		z-index: 2;
		padding: 1px 5px 1px 5px;
		border-radius: 5px;
		font-size: 10px;
		margin-left: 13px;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}



.badges_res
{
		position: absolute;
		z-index: 3;
		padding: 1px 5px 1px 5px;
		border-radius: 5px;
		font-size: 10px;
		margin-left: 22px;
		margin-top: 5px;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.hidden
{
	display: none;
}

.unhidden
