@font-face {
  font-family: LemonMilk;
  src: url(../kung nasan nakalagay yung font sayo/LemonMilk.otf);
}

@media(orientation: portrait)
{
	.coverup
	{
		width: 120%;
	}
}

@media only screen and (max-width: 992px){
	.illustration_2
	{
		display: inline!important;
		width: 80vw;
	}
	.block
	{
		background-size: cover !important;
		padding: 20px !important;
		height: 340px !important;
		min-height: 340px !important;
	}

	.descript
	{
		font-size: 1.1em !important;
		text-align: justify;
	}

	.descript3
	{
		font-size: 20px !important;
	}

	.block2
	{
		padding: 20px !important;
		margin: 0 !important;
		margin-top: 0 !important;
	}

	.space
	{
		display: none;
	}

	h3
	{
		font-size: 28px !important;
	}

	h2
	{
		font-size: 30px !important;
	}

}

body::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; } body::-webkit-scrollbar-button:hover{ background-color: #AAA; } body::-webkit-scrollbar-thumb{ background-color: #424242; border-radius: 30px; } body::-webkit-scrollbar-thumb:hover{ background-color: #940011; } body::-webkit-scrollbar-track{ background-color:#222222; } body::-webkit-scrollbar-track:hover{ background-color: #222222; } body::-webkit-scrollbar{ width: 7px; }

.lemon
{
	font-family: 'LemonMilk'
}
.illustration_2
{
	display: none;
}

.block
{

	background: rgb(109,41,41);
	background: linear-gradient(45deg, rgba(109,41,41,1) 25%, rgba(193,28,28,1) 100%);
	background-image: url('../homebg.png');
	background-size: cover;
	background-repeat: no-repeat;

	height: 400px;
	color: white;
	padding-left: 50px;
}


.block_end
{
	background: rgb(109,41,41);
	background: linear-gradient(65deg, rgba(109,41,41,1) 25%, rgba(193,28,28,1) 100%);
	color: white;
	padding: 50px;
	font-size: 16px;
}

.block2
{
	padding-left: 50px;
}
h1
{
	font-family: 'LemonMilk';
	font-size: 80px;
}

h3
{
	font-family: 'Comfortaa';
	font-size: 30px;
	margin-top: -30px;
	margin-left: 90px;
}

h2
{
	font-family: 'LemonMilk';
	font-size: 40px;
	color: #8b2323;
}

h4
{
	font-family: 'LemonMilk';
	font-size: 30px;
	color: #8b2323;
}

.illustration
{
	margin-top: 200px;
	width: 60vw;
}

.descript
{
	opacity: 0.8;
	font-size: 18px;
}

.descript2
{
	color: #333333;
	font-size: 20px;
}

.descript3
{
	color: #333333;
	font-size: 30px;
}