@media only screen and (max-width: 600px){
.guide_container
{
    width: 300px !important;

}

.guide img
{
  width: 300px !important;
}


.touch,.touch2,.touch3,.touch5,.touch6
{
  display: none !important;
}

.guide .button_container
{
  width: 100%;
}
}



.guide
{
	position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.guide_container
{
  background-image: url('../guidebg.png') !important;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  -ms-transform: translate(-50%,-60%);
}

.guide img
{
  width: 600px ;
}
.guide .button_container
{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}


.touch
{
  color: white;
  position: absolute;
  text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
  animation: moveToucha 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  z-index: 999;
  top: 22%;
  left: 8%;
}


.touch2
{
  color: white;
  position: absolute;
  text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
  animation: moveTouchb 3s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  z-index: 999;
  top: 63%;
  left: 25%;
  opacity: 1;
}


.touch3
{
  color: white;
  position: absolute;
  text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
  animation: moveTouchc 5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  z-index: 999;
  top: 63%;
  left: 90%;
  opacity: 1;
}



@keyframes moveToucha {
  0% {
   top: 22%;
   left: 8%;
 }
 50% {
  top: 48%;
  left: 54%;
  transform: scale(1.1);
}
}


@keyframes moveTouchb {
  0% {
   top: 63%;
   left: 25%;
 }
 50% {
  top: 30%;
  left: 68%;
  transform: scale(1.1);
}

70% {
  top: 30%;
  left: 68%;
  transform: scale(1.1);
  opacity: 1;
}

80% {
  top: 30%;
  left: 68%;
  transform: scale(1.1);
  opacity: 0;
}

}


@keyframes moveTouchc {
  0% {
    top: 63%;
    left: 90%;
    transform: scale(1.5);

  }

  15% {
    top: 63%;
    left: 90%;
    transform: rotate(10deg);
  }

  20% {
    top: 63%;
    left: 90%;
    transform: rotate(-10deg);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}


.touch4
{
  color: white;
  position: absolute;
  text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
  animation: moveTouchd 3s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  z-index: 999;
  top: 17%;
  left: 7.5%;
  opacity: 1;
}



@keyframes moveTouchd {
  0% {
    top: 17%;
    left: 7.5%;
    transform: scale(1.5);

  }

  15% {
    top: 17%;
    left: 7.5%;
    transform: rotate(10deg);
  }

  20% {
    top: 17%;
    left: 7.5%;
    transform: rotate(-10deg);
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

.touch5
{
  color: white;
  position: absolute;
  text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
  animation: moveTouche 7.5s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  z-index: 999;
   top: 25%;
   left: 35%;
}



@keyframes moveTouche {
  0% {
   top: 25%;
   left: 35%;
       transform: scale(1);

 }
 60% {
  top: 52%;
  left: 62%;
      transform: scale(1);

}


 70% {
  top: 63.5%;
  left: 90%;
    transform: scale(1);

}

 80% {
  top: 63.5%;
  left: 90%;
  transform: scale(2);
}

 80.5% {
  top: 63.5%;
  left: 90%;
  transform: scale(1);
  opacity: 1;
}
 100% {
  top: 63.5%;
  left: 90%;
  transform: scale(1);
  opacity: 0;
}

}
}

