.chat_icons
{
	width: 43px; height: 43px; margin-top: 4px; 
}

.user_chat
{
	font-family: 'Comfortaa';
	border-radius: 10px;
	border: none;
	background: linear-gradient(#ad3232, #8b2323);
	color: white;
	text-align: left;
	padding: 10px;
	max-width: 400px;
	font-size: 12px;
}

.chatbot_chat
{
	font-family: 'Comfortaa';
	border-radius: 10px 10px 10px 0px;
	border: none;
	background-color: #ddd;
	color: #555;
	text-align: left;
	padding: 10px;
	max-width: 400px;
	font-size: 12px;
}

.chatbot_reminder
{
	font-family: 'Comfortaa';
	border-radius: 0px 0px 30px 0px;
	border: none;
	background-color: #ffefa3;
	color: #666;
	text-align: left;
	padding: 10px;
	max-width: 600px;
	margin: auto;
	box-shadow: 5px 5px 2px #eee;
}

.chatbot_card
{
	height: 700px !important;
	max-height: 700px !important;
	overflow-y: scroll;
}

.input_card
{
	height: 96px !important;
}
.collapsible