.hidden
{
	display: none;
}
@media only screen and (max-width: 1199px)
{
	.box
	{
		width: 400px !important;
		height: 400px !important;
		font-size: 20px !important;
		margin-bottom: 80px !important;
	}	

	.links
	{
		font-size: 14px !important;
		line-height: 200% !important;
	}
}

@media only screen and (max-width: 860px)
{
	.box
	{
		width: 300px !important;
		height: 300px !important;
		font-size: 20px !important;
		margin-bottom: 80px !important;
	}

	.box .title
	{
		font-size: 20px !important;
	}

	.box .subtitle
	{
		font-size: 14px !important;
	}

	.mockup_comics
	{
		width: 250px !important;
		margin-top: -40px;
	}

	.mockup_wti
	{
		width: 250px !important;
		margin-top: -40px;
	}

	.mockup_ofad
	{
		height: 140px !important;
	}

	.mockup_ess
	{
		height: 100px !important;
	}

	.links
	{
		display: none;
	}
	.fcover
	{
		display: none;
	}

	.port_container img
	{
		width: 90% !important;
	}

	.port_container h4
	{
		font-size: 5vw;
	}

	.port_container
	{
		padding: 5px;
		font-size: 2vw;
		margin-top: -30px;
	}
	#blocks
	{
		display: none;
	}

	.mcover
	{
		display: block !important;
	}
	.mabout
	{
		display: block !important;
	}

	.fcover_p
	{
		display: none !important;
	}
}

@media only screen and (max-width: 540px)
{
	.port_container h4
	{
		font-size: 24	px;
	}

	.port_container
	{
		font-size: 15px;
		margin-top: -30px;
	}

	.port_container p
	{
		width: 80% !important;
	}
}
.mcover
{
	display: none;
	background: linear-gradient(180deg, #44AFEB 0%, #9053DD 100%);
	height: 100px;
	padding-top: 25px;
	width: 100%;
	color: white;
	font-size: 30px;
	
}

.mcover a
{
	color: white;
}
.mcover img
{
	width: 50px;
}

.mcover .mlink
{
	font-family: 'Comfortaa';
	font-size: 12px;
}

.mabout
{
	display: none;
	font-size: 3vw;
	font-family: 'Comfortaa';
}

.back_btn
{
	border-radius: 100px; padding: 8px; text-align: center; font-family: 'Comfortaa'; text-transform: capitalize; width: 80px; margin: auto; color: white; line-height: 2; background: linear-gradient(90deg, #44AFEB 0%, #9053DD 100%);

}
.thin {
	/* Montserrat Thin = 100 */
	font-weight: 100;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.extralight {
	/* Montserrat Extra Light = 200 */
	font-weight: 200;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.light {
	/* Montserrat Light = 300 */
	font-weight: 300;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.regular {
	/* Montserrat Regular = 400 */
	font-weight: 400;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.medium {
	/* Montserrat Medium = 500 */
	font-weight: 500;
	font-family:  "Open Sans", Helvetica, Arial, sans-serif;
}


.semibold {
	/* Montserrat Semi-bold = 600 */
	font-weight: 600;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
}


.bold {
	/* Montserrat Bold = 700 */
	font-weight: 700;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.extrabold {
	/* Montserrat Extra Bold = 800 */
	font-weight: 800;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.black {
	/* Montserrat Black = 900 */
	font-weight: 900;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body
{
	width: 100% !important;
	height: 100%;
	padding: 0 !important;
	min-height: 100vh;
}



.title_header
{
	margin: auto;
	text-align: center;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #9053DD;
}

.fcover
{
	width: 100%;
	height:350px;
	left: 0px;
	top: 0px;
	color: #fff;
	background: linear-gradient(180deg, #44AFEB 0%, #9053DD 100%);
	padding: 30px;
}

.footer
{
	width: 100%;
	height: 240px;
	bottom: 0;
	left: 0;
	color: #fff;
	background: linear-gradient(180deg, #44AFEB 0%, #9053DD 100%);
	padding-top: 30px;
}

.fcover_p
{
	width: 100%;
	height: 145px;
	left: 0px;
	top: 0px;
	color: #fff;
	background: linear-gradient(180deg, #44AFEB 0%, #9053DD 100%);
	padding: 30px;
}

.logotext

{
	font-size: 2rem;
	line-height: 105%;
	letter-spacing: 0.22em;
	text-transform: uppercase;
	color: #FFFFFF;

}

.links
{
	line-height: 185%;
	font-size: 18px;
	font-style: normal;
	font-weight: 100;	
}

.links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.links a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.links a:hover:after { 
  width: 100%; 
  left: 0; 
}
.logo
{
	width: 87px;
	height: 87px;

}

.about
{
	font-size: 20px;
	line-height: 128%;
	letter-spacing: 0.1em;
}

.comfortaa
{
	font-family: 'Comfortaa';
}
.mainbody
{
	width: 100%;
	padding-top: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}


.box
{
	text-align: center;
	padding-top: 50px;
	width: 300px;
	height: 300px;
	background: linear-gradient(180deg, #9053DD 0%, #44AFEB 84.9%);
	transition: 0.25s;
	margin-bottom: 50px;
	

}

.box:hover 
{
	box-shadow: 0px 10px 15px -8px #44afeb;
	transition: 0.25s;

}
.box img
{
	transition: 0.25s ease-in-out;
}
.box:hover > img
{
	margin-top: -5px;
	transition: 0.25s ease-in-out;
}
.hide
{
	display: none;
}
.box .title
{
	font-size: 24px;
}
.box .subtitle
{
	font-size: 12px;
}

.box .line
{
	margin: auto;
	width: 40px;
	height: 0px;

	border: 2px solid #FFFFFF;
	border-radius: 100px;
}

.mockup_comics
{
	width: 242px;
}

.mockup_wti
{
	width: 230px;
	margin-left: 5px;

}

.mockup_ofad
{
	height: 156px;
}

.mockup_ess
{
	height: 140px;
}


.mockup_col
{
	height: 180px;
}

.mockup_truck
{
	height: 160px;
}

.delay-1
{
	animation-delay: .15s !important;
}
.delay-2
{
	animation-delay: .25s !important;
}
.delay-3
{
	animation-delay: .35s !important;
}
.delay-4
{
	animation-delay: .45s !important;
}

.port_container
{
	color: #1f1f1f !important;
	font-family: 'Comfortaa';
	text-align: center;
}

.port_container img
{
	width: 60%;
}

.port_container p
{
	margin: 0 0 30px 0;
	font-weight: 400;
	line-height: 30px;
	width: 55%;
	text-align: left;
	margin: auto;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.animations
{
	margin: auto; width: 60%; text-align: center; background-color: #CBEDE2; padding: 35px 20px 10px 20px;
}

.animations img
{
	box-shadow: 0px 5px 10px -6px #3fb890;
}