html
{
	min-height: 100%;
}

@media (max-device-width: 980px) and (orientation: landscape){
	.mobile_menu
	{
		display: block !important;
	}
	.send_btn_res
	{
		width: 200px !important;
	}
	.filter_modal .s3
	{
		width: 100% !important;
	}

	.sidenav_course
	{
		display: none;
	}

	.content
	{
		padding: 0px !important;
	}

	.content2
	{
		padding: 0px !important;
	}

	.sidenav_user
	{
		display:none;
	}

	.card
	{
		z-index: 1 !important;	

	}

	.footer
	{
		width: 100% !important;
		padding-left: 0px !important	;
		display: none;
	}

	.topbar
	{
		display: none;
	}

	#spacename
	{
		display: none ;
	}

	.mobile_menu
	{
		margin-left: 10px;
		z-index: 2px;
	}

	.row .col.s6
	{
		width: 100% !important;

	}

	.pulse
	{
		overflow: hidden;
	}

	.modal
	{
		width: 96% !important;
	}

	.chat_icons
	{
		display: none;
	}

	.input_card
	{
		position: fixed;
		width: 100%;
	}

	.chatbot_card
	{
		padding: 0px !important;
		height: 80vh !important;
	}


	.send_btn
	{
		display: none;
	}
	.send_btn_res
	{
		display: block !important;
	}

	.calendar_content
	{
		width:900px !important;
		border-top: 5px solid #8b2323;
	}
}



@media (orientation:portrait) and (min-height: 700px)
{
	.announcement_card
	{
		width: 100% !important;
	}
}

@media only screen and (max-width: 600px){
	.send_btn_res
	{
		width: 200px !important;
	}
	.filter_modal .s3
	{
		width: 100% !important;
	}

	.sidenav_course
	{
		display: none;
	}

	.content
	{
		padding: 0px !important;
	}

	.content2
	{
		padding: 0px !important;
	}

	.sidenav_user
	{
		display:none;
	}

	.card
	{
		z-index: 1 !important;	

	}

	.footer
	{
		width: 100% !important;
		padding-left: 0px !important	;
		display: none;
	}

	.topbar
	{
		display: none;
	}

	#spacename
	{
		display: none ;
	}

	.mobile_menu
	{
		margin-left: 10px;
		z-index: 2px;
	}

	.row .col.s6
	{
		width: 100% !important;

	}

	.pulse
	{
		overflow: hidden;
	}

	.modal
	{
		width: 96% !important;
	}

	.chat_icons
	{
		display: none;
	}

	.input_card
	{
		position: fixed;
		width: 100%;
	}

	.chatbot_card
	{
		padding: 0px !important;
		height: 80vh !important;
	}


	.send_btn
	{
		display: none;
	}
	.send_btn_res
	{
		display: block !important;
	}

	.calendar_content
	{
		width:900px !important;
		border-top: 5px solid #8b2323;
	}



}

.sspace
{
	display: inline;
	margin-left: 0.3em;
}

.leavespace
{
	display: inline;
	margin-left: 4em;
}

.coursetitle
{
	display: inline;
	margin-left: 0.7em;
}

.utilbtn
{
	display: inline;
	margin-left: 5em;
}

.send_btn_res
{
	display: none;
}

.course_title
{
	font-size: 30px; line-height: 42px;
}

body
{
	margin: 0;
	font-family: "Roboto", sans-serif;
	background: -webkit-linear-gradient(top, #fff, #7e7e7e);
	max-height: 100%;
}

.nav-wrapper
{
	background: #333333;
	background: -webkit-linear-gradient(to bottom, #8B2323, #5E181F) !important;  
	background: linear-gradient(to bottom, #8B2323, #5E181F) !important; 

}
.search-bar
{
	background: #333333;
	background: -webkit-linear-gradient(to bottom, #BB8181, #916468) !important;  
	background: linear-gradient(to bottom, #BB8181, #916468) !important;
	color: white !important; 

}	

.search-bar2
{
	background: white;
	border-bottom:  2px solid #8b2323 !important;
}

.search-bar2 + label
{
	color: #8b2323 !important;
}
.input-field {width: 70%; margin: auto; } 
.drop {box-shadow: 0px 2px 5px #b5b5b5; font-family: "Roboto";}
.title{padding-left: 0.9em !important; font-size: 1.4em !important; font-family: "Comfortaa" !important;}
.tab a{color: #797979 !important;}
.tab a.active {background-color: #d9d9d9 !important; color: #de3d3d !important; font-family: "Roboto" !important; } 
.dataTables_filter {display: none; } .dataTables_paginate {float: left; margin-top: -56px; margin-right: 5px; } .dataTables_paginate .paginate_button {transition: 0.25s; height: 42px; } .dataTables_paginate .paginate_button:hover {background-color: #8B2323 !important; color: #8B2323 !important; background: #8B2323 !important; border: 1px solid #8B2323 !important; transition: 0.25s; } .dataTables_info {float: right !important; margin-top: -52px; margin-right: 120px; } table.dataTable thead th {padding: 10px 18px; border-bottom: 2px solid #8B2323 !important; } table.dataTable table {padding: 10px 18px 6px 18px; border-bottom: : 1px solid #8B2323 !important; } table.dataTable.no-footer {border-bottom: 2px solid #8B2323 !important; } table.dataTable {margin-top: 55px; }
#initial_cont{transition: 0.5s;cursor: pointer;overflow-y: scroll; min-height: 55px; max-height: 120px; width: 100%;border: 2px solid #dedede; border-radius: 5px; padding: 6px;}
.groups_initial{ visibility: hidden;  margin-left: 45%; background-color: #333333; color: white; z-index: 1; position: absolute; text-align: center; display: block; left: 0; transition: 0.15s} 

#initial_cont:hover {background-color: #dedede}
#initial_cont:hover .groups_initial{visibility: visible;  transition: 0.5s; }
#initial_cont:hover .chip {background-color: white !important; opacity: 0.5; transition: 0.5s;}
.user-account{
	width: 220px !important;

}

.dropdown-content a
{
	color: #8B2323 !important;
}
.btn-flat:hover {background-color: #8B2323 !important; color: white !important; }
.pag_lr{color: #333 !important;}
.pag_lr:hover{color: white !important}

h4
{
	font-family: "Comfortaa" !important;
	font-size: 1.7em !important;
}

h5
{
	font-family: "Comfortaa" !important;
	font-size: 1.5em !important;
}
.input-width {width: 100%; }
.input-field input[type=text]:focus + label {color: #8b2323 !important; } /* label underline focus color */ .input-field input[type=text]:focus {border-bottom: 1px solid  #8b2323  !important; box-shadow: 0 1px 0 0  #8b2323  !important; } .input-field input[type=password]:focus + label {color: #8b2323 !important; } /* label underline focus color */ .input-field input[type=password]:focus {border-bottom: 1px solid  #8b2323  !important; box-shadow: 0 1px 0 0  #8b2323  !important; } option {color: #8b2323 !important; } .input-field input[type=date]:focus {border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;} .input-field input[type=date]:focus + label {color: #8b2323 !important;} .input-field input[type=date]:focus {border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;} .input-field input[type=date]:focus + label {color: #8b2323 !important;}.input-field input[type=datetime-local]:focus {border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;} .input-field input[type=datetime-local]:focus + label {color: #8b2323 !important;}

ul.dropdown-content.select-dropdown li span {
	color: #8b2323; 
}

.chips:focus
{
	border-bottom: 1px solid #8b2323 !important; box-shadow: 0 1px 0 0 #8b2323 !important;
}

.rogue_label
{
	margin-top: -20px !important;
}

.rogue_label_modal
{
	margin-top: 10px !important;
}

.checbox_box
{
	border: 2px solid #dedede;
	padding: 1em;
	border-radius: 4px;
	width: 100%;
}

.sidenav_user {
	padding: 10px;
	height: 100%;
	width: 75px;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: #222;
	overflow-x: hidden;
	padding-top: 20px;

}

.sidenav_course {
	padding: 10px;
	height: 100%;
	width: 320px;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-image: url('../mobilebg.png');
	background-size: cover;
	overflow-x: hidden;
	padding-top: 20px;
	padding-left: 85px;
	padding-top: 65px;
	color: white;
	font-size: 0.9em;
 

}


.sidenav_course li
{
	padding-left: 10px;
}

.navicons
{
	width: 50px;
	height: 50px;
}

.navdivider
{
	border: none;
	height: 2px;
	width: 70%;
}

.topbar
{
	height: 50px; 
	width: 100%;
	background: #333333;
	background: linear-gradient(to bottom, rgba(2,2,2,0.55), rgba(0,0,0,.60));
	padding-top: 5px;
	padding-left: 75px; font-family: 'Comfortaa'; color: white; font-size: 2em;
	z-index: 3;
	position: fixed;
}
.mobile_menu
{
	height: 50px; 
	width: 100%;
	background: #333333;
	background: linear-gradient(to bottom, rgba(2,2,2,0.55), rgba(0,0,0,.60));
	padding-left: 8px;
	font-family: 'Comfortaa'; color: white; font-size: 2em;
	line-height: 52px;
	top: 0;
	position: sticky !important;
	margin-left:0;
	z-index: 2;
}

.selected_course
{
	border-radius: 5px;
	background-color: rgba(255,255,255, 0.25);
	vertical-align: middle;
}

.comfortaa
{
	font-family: "Comfortaa";
}

.roboto
{
	font-family: "Roboto";
}
.course_list
{
	font-size: 1em;
	line-height: 2.4em;
}

.members_list
{
	font-size: 0.8em;
	line-height: 2em;
}

.username
{
	font-size: 15px !important;
	font-family: "Roboto";
	vertical-align: middle;
}

.content
{
	padding-left: 340px;
	padding-top: 60px;
	width: 100%;
	padding-right: 20px;
}

.content2
{
	padding-left: 90px;
	padding-top: 60px;
	width: 100%;
	padding-right: 20px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 320px;
	background: linear-gradient(to bottom, rgba(2,2,2,0.55), rgba(0,0,0,.60));
	color: white;
	padding-left: 85px;
	z-index: 3;
	height: 40px;
	padding-top: 10px;
	font-family: Roboto;
}

.chat_icons
{
	width: 43px; height: 43px; margin-top: 4px; 
}
.grayline
{
	background-color: #eeeeee; border: none; height: 1px; width: 100%;
}


.grayline2
{
	background-color: #dedede; border: none; height: 2px; width: 100%;
}



.file_chip
{
	border: 2px solid #dedede !important;
	background-color: white !important;
	border-radius: 100px !important;
}

.announcement_card
{
	cursor: pointer;
}

.seen_mark
{
	font-size: 0.8em;
}

#username
{
	line-height: 0;
	margin-top: -3px;
}

.file_container
{
	border-bottom: 2px solid #8ccbf5;
	padding: 10px;
}

.remove_file
{
	cursor: pointer;
}

.topbar2
{
	height: 50px; 
	width: 100%;
	background: #333333;
	background: linear-gradient(to bottom, #8b2323, #7a1919);
	padding-top: 5px;
	padding-left: 75px; font-family: 'Comfortaa'; color: white; font-size: 2em;
	z-index: 3;
	position: fixed;
}

.footer2 {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgba(2,2,2,0.55), rgba(0,0,0,.60));
	color: white;
	padding-left: 85px;
	z-index: 3;
	height: 40px;
	padding-top: 10px;
	font-family: Roboto;
}

.calendar_frame
{
	width: 100%;
	border: none;
	height: 86vh;
	box-shadow: 8px 8px 0px #8b2323;
}

.chatbot_input
{
	border-radius: 100px !important;
	border: 2px solid #8b2323 !important;
	padding-left: 10px !important;
	height: 40px !important;
}

.input-field input[type=text]:focus {border-bottom: 1px solid  #9b3333  !important; box-shadow: 0 1px 0 0  #9b3333  !important; }


.send_btn
{
	border-radius: 100px;
	border: none;
	background-color: #8b2323;
	color: white;
	text-align: center;
	padding: 16px;
	width: 100% !important;
	height: 40px !important;
	margin-top: -1px;
	line-height: 0px;
}

.send_btn_res
{
	border-radius: 100px;
	border: none;
	background-color: #8b2323;
	color: white;
	text-align: center;
	font-size: 10px;
	width: 100% !important;
	height: 40px !important;
	margin-top: -1px;
	line-height: 0px;
}

.user_chat
{
	font-family: 'Comfortaa';
	background: linear-gradient(#ad3232, #8b2323);
 			padding: 10px;
 			color: white;
 			font-size: 12px;
 			border-radius: 10px;
 			display: inline;
 			float: right;
 			margin: 5px;
 			text-align: justify;
}

.chatbot_chat
{
	font-family: 'Comfortaa';
	border-radius: 10px;
	border: none;
	background-color: #ddd;
	color: #555;
	text-align: left;

	max-width: 400px;
	font-size: 12px;
 	padding: 10px;
	display: inline;
 	float: left;
 	margin: 5px;
 	text-align: justify;
}

.chatbot_reminder
{
	font-family: 'Comfortaa';
	border-radius: 0px 0px 30px 0px;
	border: none;
	background-color: #ffefa3;
	color: #666;
	text-align: left;
	padding: 10px;
	max-width: 600px;
	margin: auto;
	box-shadow: 5px 5px 2px #eee;
	display: block;
}

.chatbot_card
{
	overflow-y: scroll;
	height: 75vh;
	max-height: 75vh !important;

}

.input_card
{
	height: 80px !important;
	bottom: 0;
	margin-top: 0 px;
}

.input_card .row
{
	margin-top: -5px;
}
.collapsible
{
	box-shadow: none !important;
}

.collapsible-body
{
	padding: 7px !important;
	font-size: 0.8em;
}
.collapsible-header
{
	padding: 5px !important;
	width: 100% !important;
	box-shadow: none !important;
	font-size: 0.7em;
}
.subheader
{
	background-color: #333;
		background: linear-gradient(to bottom, rgba(0,0,0,.60), rgba(0,0,0,.60)) !important;

	color: white !important;
	font-family: "Comfortaa" !important;
	height: 30px !important;
	line-height: 32px !important;

}

.sidenav .material-icons
{
	font-size: 18px !important;
	padding: 0px !important
	margin: 0px !important;
	line-height: 30px !important;
	word-spacing: 0px !important;
	letter-spacing: 0px !important;
}

.badges
{
		position: absolute;
		margin-top: -8px;
		z-index: 2;
		padding: 1px 5px 1px 5px;
		border-radius: 5px;
		font-size: 10px;
		margin-left: 13px;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}



.badges_res
{
		position: fixed;
		z-index: 3;
		padding: 1px 5px 1px 5px;
		border-radius: 5px;
		font-size: 10px;
		margin-left: 22px;
		margin-top: 5px;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.sidenav
{
	background-color: white;
}

.sidenav a
{
	color: #8b2323 !important;

}

.sidenav .logout
{
	color: #ff9696 !important;
}

.sidenav .category
{
	background-color: #8b2323 !important;
	color: white !important;
	box-shadow: 0px 3px 5px grey;
	font-family: "Comfortaa";
	background-image: url("../mobilebg.png");

}

.sidenav .selected
{
	background-color: #ffd0d0;
}

.sidenav .locked
{
	background-color: #a5a5a5;
	color: white !important;
}
.sidenav .options
{
	background-color: #333 !important;
	color: white !important;
	height: 30px !important;
	line-height: 32px !important;
}
.stickeroo
{
	position: sticky !important;
	top: 0 !important;
	background-image: url("../mobilebg.png");
	border-bottom: 1px solid white;
	z-index: 2;
}

.show_more
{
	cursor: pointer
}


datepicker-date-box{background-color: #8b2323 !important; } .datepicker-date-display, .datepicker-weekday-display{background-color: #8b2323 !important; } .datepicker-table td.is-today {color: #8b2323 !important; } .datepicker-table td.is-selected {background-color: #8b2323 !important; color: #fff; } .datepicker-clear, .datepicker-today, .datepicker-done {color: #8b2323 !important; } .datepicker-cancel{color: grey !important; } .datepicker-day-button:focus {background-color: #ffd8a0 !important; } .jscolor{padding-left:10px !important; border-radius: 4px !important; height: 40px !important; border-top: 3px solid white !important}


.input-field textarea:focus + label {
  color: #8b2323 !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #8b2323 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important
}

.sidenav_user::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; } .sidenav_user::-webkit-scrollbar-button:hover{ background-color: #AAA; } .sidenav_user::-webkit-scrollbar-thumb{ background-color: #424242; border-radius: 30px; } .sidenav_user::-webkit-scrollbar-thumb:hover{ background-color: #940011; } .sidenav_user::-webkit-scrollbar-track{ background-color:#222222; } .sidenav_user::-webkit-scrollbar-track:hover{ background-color: #222222; } .sidenav_user::-webkit-scrollbar{ width: 7px; }
.no_content
{
	display: inline !important;
    margin-left: 4.2em !important;
}


.collapsible-header
{
	font-size: 15px;
	color: #8b2323;
	font-family: "Comfortaa";
}

.collapsible-body
{
	font-size: 13px;
	font-family: "Roboto";
	padding-left: 50px !important;
}